/*faz aplicação global de css*/

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}



/*variaveis que podem ser usadas para todo o documento*/

:root{
    --bg-url:url(../img/backgriud.dark.png)
}

body{
    background: var(--bg-url) no-repeat top center / cover;
    height: 100vh;
}